.details{
    /* background-color: aqua; */
    width: 25%;
    margin: 10px;
    background-color: white;
    
}

.content{
    text-align: justify;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.btn{
    background-color: rgb(65, 147, 206);
    color: white;
    font-weight: 500;
    height: 2.5rem;
    width: 10rem;
    border-radius: 5rem;
    border-color: white;
    box-shadow: none;
    shape-outside: none;
    position: absolute;
    bottom: 0;
}

.tags{
    font-size: medium;
    color: grey;
    text-align: start;
    padding-left: 1.5rem;

}