.display{
    background-color: aqua;
    height: 25vw;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.display-text{
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-content: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 1.5vw;
    /* line-height: 1rem; */
}

#header-text{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}